
h1,h2,h3,h4,h5,h6,.static-txt,.dynamic-txt>li>span{
    font-weight: 600px;
    letter-spacing: .003em;
    font-family: var(--font-sans);   
}
.loader-content{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background:var(--bg-color);
    z-index: 999999999;
}
p,span{
    font-family: var(--font-mono);  
}
a{
    text-decoration: none;
    color: white;
}
.main-bg{
    width: 100vw;
    height: 990vh;
    background: var(--bg-color);
}
.navbar{
    width: 100%;
    background-color: var(--nav-bg);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    z-index: 9999;
}
.site-nav-wrapper{
    width: 95%;
    margin: 0 auto;
    padding: 1em 0 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-link{
    padding: 5px;
    cursor: ne-resize;
    display: inline-block;
}

.menu-link:focus{
    border: 2px dashed var(--green);
}
.pc-menu{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: auto;

}
.mobile-menu {
    background-color: var(--bg-color);
    position: fixed;
    top: 70px;
    right: 0;
    width: 0px;
    height: calc(100vh - 70px) !important;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 999;
  
    transition: 0.5s;
  
}
/*side nav*/
.left-icons{
   
    position: fixed;
    bottom: 0;
    left: 3%;
}
.left-socio-icons{
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}
.left-socio-icons>li>a{
   padding: 10px;
    cursor: ne-resize;
    display:inline-block;

}
.left-socio-icons>li>a>.bx{
    position: relative;
    font-size: 25px;
    color: var(--text-darkest);
  transition-duration: 0.8s;
}
.left-socio-icons>li>a:focus{
    border: 2px dashed var(--green);
}
.left-socio-icons>li>a:hover>.bx{
top: -5px;
color: var(--green);
}
.left-socio-icons>li>a:focus>.bx{
    color: var(--green);
   }
.left-socio-icons::after{
    content: '';
    display: block;
    width: 1px ;
    height: 90px;
    background: var(--text-darkest);
    margin: 0 auto;
}
.right-icons{
    position: fixed;
    bottom: 0;
    right: 3%;
    display: flex;
    flex-direction: column;
}
.right-socio-icons{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-socio-icons>a{
    color: var(--text-darkest);
    writing-mode: vertical-lr;
    letter-spacing: 0.05em;
    font-family: var(--font-mono);
    text-align: center;
    cursor: ne-resize;
    padding: 10px;
    position: relative;
}
.right-socio-icons>a:focus{
    border: 2px dashed var(--green);
    color: var(--green);
}
.right-socio-icons>a:hover{
    top: -2px;
    color: var(--green);
}
.right-socio-icons::after{
    content: '';
    display: block;
    width: 1px ;
    height: 90px;
    background: var(--text-darkest);
    margin: 0 auto;
}
.resume-dnld{
    cursor: pointer;
}
.resume-dnld,.hdr-contact{
    display: inline-block;
    border:  1px solid var(--green);
    padding: 8px 15px 8px 15px;
    border-radius: 20px;
    color: var(--green);
}
.hdr-contact{
    display: inline-block;
    border:  1px solid var(--green);
    padding: 15px 25px 15px 25px;
    border-radius: 10px;
    color: var(--green);
}
.resume-dnld:hover,.hdr-contact:hover{
    background: var(--green-transp);
}
.mbl-resume-dnld{
    width: 150px;
    text-align: center;
    margin: 0 auto;
}
.toggle{
    display: none;
    visibility: hidden;
}
.toggle>a{
    display: inline-block;
    padding: 10px;
}
.toggle>a:focus{
    border: 2px dashed var(--green);
}
.show-nav{
width: 250px;
}
.site-content-wrap{
    margin-top: calc(70px + 2em );
}
.site-header-wrap{
    width: 70%;
    margin: 0 auto;
    padding-top: 0.3em;
    /*height: calc(100vh  - (120px + 2em));*/
}
.hdr-content{
    padding-top: 4em;
}
.hdr-conatct-wrap{
    padding-top: 2em;
}
.small-hdr{
    padding-left:0.2em ;
}
.big-hdr{
    font-size: clamp(30px, 8vw, 65px);
}
.static-txt{
    font-size: clamp(25px, 8vw, 65px);
}
.dynamic-wrapper{
    display:inline-flex;
}
.dynamic-txt{
    margin-left: 15px;
  
}
.dynamic-wrapper>.dynamic-txt>li{
    list-style: none;
    color: var(--green);
    font-size: clamp(25px, 8vw, 75px); 
    line-height: 1.4em;
}

.hdr-about{
    width: 45%;
   

}

/**/
@media only screen and (min-width: 801px){
   .mobile-menu{
       width: 0px;
   } 
   .blur{
      filter: none;
   }
}
@media only screen and (max-width: 800px) {
.pc-menu{
    visibility: hidden;
    display: none;
}
.toggle{
    display: block;
    visibility: visible;
    cursor: pointer;
}
li{
    text-align: center;
}
.mobile-menu>li>a{
    display: flex;
    flex-direction: column;
    justify-content:space-between ;
}
.mobile-menu{
    counter-reset: item;
}
.mobile-menu>li::before{
    counter-increment: item;
    content: "0" counter(item) ".";
    display: block;
    margin-bottom: 6px;
    color: var(--green);
}
.hdr-about{
    width: 65%;
}
.menu-link:focus{
    border: none;
}
}
@media only screen and (max-width: 600px){
    .site-nav-wrapper{
        width: 100%;   
    }
    .site-header-wrap{
        width: 90%;
    }
    .hdr-about{
        width: 85%;
    }
 }

 @media only screen and (max-width: 700px){
    .left-icons,.right-icons{
        display: none;
        visibility: hidden;
    }
 }